<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Jutrzenka Cegłów - oficjalna strona</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">

        <!-- Medium Editor -->
        <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'css/website.css' %}">

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">


<body>
    <div class="page-header">
        <h1><a href="{% url 'post_list' %}"><img src="{% static 'img/logo_jutrzenka_ceglow.png' %}" alt="logo"> Jutrzenka Cegłów</a></h1>
    </div>

    <nav class="navbar navbar-default menu">
        <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'post_list' %}">Strona główna</a></li>
                    <li><a href="{% url 'squad' %}">Kadra</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sezon <span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown">
                            <li><a href="{% url 'matches' %}">Terminarz i wyniki rozgrywek</a></li>
                            <li><a href="{% url 'table' %}">Tabela</a></li>
                            <li><a href="#">Statystyki zawodników</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'gallery' %}">Galeria</a></li>
                    <li><a href="{% url 'about' %}">O klubie</a></li>
                    <li><a href="{% url 'contact' %}">Kontakt</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li>
                        <a>Witaj, {{ user.username }}!</a>
                    </li>
                    <li>
                        <a href="{% url 'post_new' %}" >Nowy post</a>
                    </li>
                    <li>
                        <a href="{% url 'post_draft_list' %}">Wersje robocze</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}" >Wyloguj się</a>
                    </li>
                {% comment %}{% else %}
                    <li>
                      <a class='nav navbar-right' href="{% url 'login' %}">
                          <span class="glyphicon glyphicon-user"></span>
                      </a>
                    </li>
                {% endcomment %}
                {% endif %}

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                <div>
                {% block content %}

                {% endblock %}
                </div>

            </div>
            {% block table %}
            <div class="col-md-4">
                <div class="table-responsive-md">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th>#</th>
                            <th>Drużyna</th>
                            <th>Mecze</th>
                            <th>Punkty</th>
                            </tr>
                        </thead>

                        {% for teamseason in teamseason_list %}
                        <tbody>
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><img src="{{ teamseason.team.logo_icon.url }}" /> {{ teamseason.team.name }}</td>
                                <td>{{ teamseason.matches }}</td>
                                <td>{{ teamseason.points }}</td>
                            </tr>
                        </tbody>
                        {% endfor %}

                    </table>
                </div>
            </div>
            {% endblock %}
        </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom footer-style">
        <div class="container footer-style">
            <span class="text-muted">jutrzenkaceglow.pl &copy; 2018 Wszelkie prawa zastrzeżone. Projekt i realizacja: Eryk Malinowski
                <a href="https://github.com/ErykMalinowski" target="_blank"><i class="fab fa-github fa-lg github-color"></i></a>
                <a href="https://www.linkedin.com/in/eryk-malinowski/" target="_blank"><i class="fab fa-linkedin fa-lg linkedin-color"></i></a>
                <a href="https://www.codewars.com/users/ErykMalinowski" target="_blank"><img src="{% static 'img/codewars_logo.png' %}"></a>
            </span>
        </div>
    </nav>


<a href="#"><img src="{% static 'img/scrollup.png' %}" class="scroll-top"></a>


<script type="text/javascript" src="{% static 'js/website.js' %}"></script>

</body>
</html>
