{% extends "website/base.html" %}
{% block content %}

<h1 class="menu-h">Terminarz i wyniki rozgrywek</h1>

{% regroup match_list by round as rounds %}
{% for round in rounds %}
    <h2>{{ round.grouper.name }}</h2>
    <div class="post matches">
        {% for match in round.list %}
        <div>
            <p>{{ match.team_home }} <img src="{{ MEDIA_URL }}{{ match.team_home.logo_icon.url }}"> {{ match.score_home }}:{{ match.score_away }} <img src="{{ MEDIA_URL }}{{ match.team_away.logo_icon.url }}"> {{ match.team_away }}</p>
        </div>
        {% endfor %}
    </div>
{% endfor %}

{% endblock %}