{% extends "website/base.html" %}
{% block table %}
{% endblock %}
{% block content %}

<h2 class="menu-h">Tabela rozgrywek</h2>

<div class="table-responsive-md">
    <table class="table">
        <thead>
            <tr>
            <th>#</th>
            <th>Drużyna</th>
            <th>M</th>
            <th>Z</th>
            <th>R</th>
            <th>P</th>
            <th>Bramki</th>
            <th>Pkt</th>
            </tr>
        </thead>

        {% for teamseason in teamseason_list %}
        <tbody>
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><img src="{{ teamseason.team.logo_icon.url }}" /> {{ teamseason.team.name }}</td>
                <td>{{ teamseason.matches }}</td>
                <td>{{ teamseason.wins }}</td>
                <td>{{ teamseason.draws }}</td>
                <td>{{ teamseason.losts }}</td>
                <td>{{ teamseason.goals_for }}:{{ teamseason.goals_against }}</td>
                <td>{{ teamseason.points }}</td>
        </tbody>
        {% endfor %}

    </table>
</div>

<h6 class="menu-h"><u>Legenda:</u></h6>
<h6><em>Nagłówki kolumn oznaczają kolejno: pozycję drużyny, nazwę drużyny, rozegrane mecze, zwycięstwa, remisy, porażki, stosunek bramek strzelonych do straconych, zdobyte punkty.</em></h6>


{% endblock %}