body{
    font-family: 'Lato', sans-serif;
    /*background-color: #082c50;*/
}

.menu{
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    /*color: #fff;*/
    background-image: none;
    background-color: #d32f2f;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    letter-spacing: 1px;
}

.navbar-default .navbar-nav>li>a:hover{
    color: #ccc;
}

.nav>li:hover{
    background-color: #e43030;
    color: #fff;
}

.dropdown>li{
    background-color: #082c50;
    color: #fff;
}

.dropdown>li>a{
    font-family: 'Lato', sans-serif;
    font-size: 1.25em;
}

.dropdown-menu{
    padding: 0;
}

.dropdown-menu>li>a:hover {
    color: #ccc;
    background: #193d61;
}

.dropdown-menu>li>a {
    padding: 10px 20px;
    color: #fff;
}

.dropdown-menu>li>a:hover {
    color: #ccc;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .dropdown.open > a
{
    background: #e43030;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover
{
    color: #ccc;
}

.navbar-default .navbar-toggle{
    background-color: #082c50;
    border: 0;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: #fff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    background-color: #082c50;
}

@media (max-width: 767px){
    .navbar-default .navbar-nav .open .dropdown-menu>li>a{
        color: #fff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{
        color: #ccc;
    }
}

/*.homepage{*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
/*}*/

.post{
    font-family: 'Lato', sans-serif;
    font-size: 1.25em;
    margin-bottom: 50px;
    color: #000;
}

.post a{
    text-decoration: none;
    color: #000;
}

.post h1{
    font-weight: 700;
}

p{
    text-align: justify;
}

.date {
    font-size: 0.75em;
}

.comment{
    font-weight: 700;
}

.btn-comment{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    position: absolute;
    right: 0;
    background-image: none;
    background-color: #082c50;
}

.btn-comment-publish{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    position: absolute;
    right: 0;
    /*background-image: none;*/
    /*background-color: #082c50;*/
}

.page-header{
    font-family: 'Lato', sans-serif;
    text-align: center;
    border-bottom: none;
    padding: 0;
}

.page-header a{
    text-decoration: none;
    color: #000;
}

.page-header h1{
    font-weight: 700;
    font-size: 3em;
    letter-spacing: 2px;
}

.scroll-top {
    width: 70px;
    height: 70px;
    position: fixed;
    bottom: 130px;
    right: 130px;
    display: none;
}

.menu-h{
    font-weight: 700;
}

.menu-h-gallery{
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}

.squad{
    font-size: 1.5em;
    margin-bottom: 10px;
    word-spacing: 5px;
    text-align: center;
    margin-left: 100px;
}

.squad-h1, .squad-h2{
    font-weight: 700;
    text-align: center;
}

.matches{
    margin-bottom: 10px;
}

.footer-style{
    background: #082c50;
    /*height: 60px;*/
    margin-top: 10px;
}

.text-muted{
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    word-spacing: 2px;
    color: #fff
}

.content{
    margin-bottom: 200px;
}

.text-muted a{
    margin-left: 10px;
}

.github-color, .linkedin-color{
    color: #fff
}

.text-muted a img{
    margin-bottom: 5px;
}

.table-responsive-md{
    margin-top: 30px;
}

.col-md-4{
    margin-left: 50px;
    margin-right: -50px;
}

.match-info, .sponsors{
    font-family: 'Lato', sans-serif;
    font-size: 2.75em;
    font-weight: 700;
}

.match-info p, .sponsors p, .fanpage p{
    text-align: center;
}

.match-info p img{
    margin: 0 10px;
}

p.match-info-date{
    font-size: 0.5em;
}

.table-title{
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
}

.table{
    font-family: 'Lato', sans-serif;
}

.fanpage:hover{
    opacity: 0.8;
}

.sponsors p a:hover{
    opacity: 0.8;
}
