body{
    font-family: 'Lato', sans-serif;
    /*background-color: #082c50;*/
    background-color: #011f4b;
    color: #fff;
}

.menu{
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    /*color: #fff;*/
    background-image: none;
    /*background-color: #d32f2f;*/
    background-color: #d61313;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
}

.navbar-default .navbar-nav>li>a:hover{
    color: #ddd;
}

.nav>li:hover{
    /*background-color: #e43030;*/
    background-color: #e72424;
    color: #fff;
}

.dropdown>li{
    /*background-color: #082c50; */
    /*background-color: #d32f2f;*/
    background-color: #d61313;
    color: #fff;
}

.dropdown>li>a{
    font-family: 'Lato', sans-serif;
    font-size: 1.25em;
}

.dropdown-menu{
    padding: 0;
}

.dropdown-menu>li>a:hover {
    color: #ddd;
    /*background: #193d61; */
    /*background: #e43030;*/
    background: #e72424;
}

.dropdown-menu>li>a {
    padding: 10px 20px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
}

.dropdown-menu>li>a:hover {
    color: #ddd;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .dropdown.open > a
{
    /*background: #e43030;*/
    background: #e72424;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover
{
    color: #ddd;
}

.navbar{
    border: 0;
}

.navbar-default .navbar-toggle{
    /*background-color: #082c50;*/
    background-color: #011f4b;
    border: 0;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: #fff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    /*background-color: #082c50;*/
    background-color: #011f4b;
}

@media (max-width: 767px){
    .navbar-default .navbar-nav .open .dropdown-menu>li>a{
        color: #fff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{
        color: #ddd;
    }
}

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

/*.homepage{*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
/*}*/

.post{
    font-family: 'Lato', sans-serif;
    font-size: 1.25em;
    margin-bottom: 50px;
    color: #000;
}

.post a{
    text-decoration: none;
    color: #fff;
}

.post a:hover{
    color: #ddd;
}

.post h1{
    font-weight: 700;
    color: #fff;
}

h2, h3{
    color: #fff;
}

p{
    text-align: justify;
    color: #fff;
}

.date {
    font-size: 0.75em;
}

.comment{
    font-weight: 700;
}

.btn-comment{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    position: absolute;
    right: 0;
    background-image: none;
    /*background-color: #d32f2f;*/
    background-color: #d61313;
}

.btn-comment-publish{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    position: absolute;
    right: 0;
    /*background-image: none;*/
    /*background-color: #082c50;*/
}

.btn-primary:focus, .btn-primary:hover{
    /*background-color: #e43030;*/
    background-color: #e72424;
}

.btn-comment-publish{
    background-image: none;
    /*background-color: #d32f2f;*/
    background-color: #d61313;
    color: white;
    border: 0;
    letter-spacing: 1px;
}

.btn-comment-publish:hover{
    /*background-color: #e43030;*/
    background-color: #e72424;
    color: white;
    letter-spacing: 1px;
}

input{
    /*background-color: #082c50;*/
    background-color: #011f4b;
    border: blue;
}

.medium-editor-toolbar ul{
    color: #000;
}

#id_author{
    background-color: #fff;
    color: #000;
}

.page-header{
    font-family: 'Lato', sans-serif;
    text-align: center;
    border-bottom: none;
    padding: 0;
}

.page-header a{
    text-decoration: none;
    color: #fff;
}

.page-header a:hover{
    opacity: 0.8;
}


.page-header h1{
    font-weight: 700;
    font-size: 3em;
    letter-spacing: 2px;
}

.scroll-top {
    width: 70px;
    height: 70px;
    position: fixed;
    bottom: 130px;
    right: 130px;
    display: none;
}

.menu-h{
    font-weight: 700;
}

.menu-h-gallery{
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}

.squad{
    font-size: 1.5em;
    margin-bottom: 10px;
    word-spacing: 5px;
    text-align: center;
}

.squad-h1{
    font-weight: 700;
    text-align: center;
}

.squad-h2{
    font-weight: 700;
    text-align: center;
    margin-bottom: 25px;
}

.matches{
    margin-bottom: 10px;
}

.footer-style{
    /*background: #d32f2f;*/
    background: #d61313;
    /*height: 60px;*/
    margin-top: 10px;
    font-weight: 700;
    letter-spacing: 1px;
}

.text-muted{
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    word-spacing: 2px;
    color: #fff
}

.content{
    margin-bottom: 200px;
}

.text-muted a{
    margin-left: 10px;
}

.github-color, .linkedin-color{
    color: #fff
}

.text-muted a img{
    margin-bottom: 7px;
}

.text-muted a img:hover{
    opacity: 0.9;
}

.table-responsive-md{
    margin-top: 30px;
    font-weight: 700;
}

.match-info{
    font-family: 'Lato', sans-serif;
    font-size: 2.75em;
    font-weight: 700;
    padding-top: 25px;
}

.match-info p, .sponsors p, .fanpage p{
    text-align: center;
}

.match-info p img{
    margin: 0 10px;
}

p.match-info-date{
    font-size: 0.5em;
}

.table-title{
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
}

.table{
    font-family: 'Lato', sans-serif;
    margin-bottom: 0;
}

.fanpage-icon{
    background-color: #3b5998;
    padding: 10px 0;
    margin-top: -20px;
    margin-bottom: 0;
}

.fanpage{
    /*background-color: #082c50;*/
    background-color: #011f4b;
    /*background-color: #5d7bba;*/
    padding-top: 80px;
}

.fanpage-icon:hover{
    opacity: 0.8;
}

.sponsors{
    font-family: 'Lato', sans-serif;
    font-size: 2.75em;
    font-weight: 700;
    /*background-color: #082c50;*/
    background-color: #011f4b;
}

.sponsors-header{
    /*background-color: #082c50;*/
    background-color: #011f4b;
    padding-top: 60px;
    padding-bottom: 20px;
    margin-bottom: 0;
}

.gmina-icon{
    background-color: #fff;
    margin-bottom: 1px;
}

.bags-icon{
    background-color: #fff;
    margin-bottom: 0;

}

.autopex-icon{
    background-color: #000;
    margin-bottom: 0;
}

.sponsors a p.gmina-icon:hover, .sponsors a p.bags-icon:hover{
    opacity: 0.9;
}

.sponsors a p.autopex-icon:hover{
    opacity: 0.8;
}

.fab{
    color: #fff;
}

.fab:hover{
    color: #ddd;
}

.col-md-4{
    /*background-color: #d32f2f;*/
    background-color: #d61313;
    margin-top: 30px;
    padding-left: 0;
    padding-right: 0;
}

.col-md-7{
    padding-left: 5px;
    padding-right: 5px;
}

hr{
    border-top: 0;
}
