.menu{
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    color: #fff;
    margin-bottom: -1px;
    background-image: none;
    background-color: #d32f2f;

}

.navbar-default .navbar-nav>li>a{
    color: #fff;
}

.navbar-default .navbar-nav>li>a:hover{
    color: #ccc;
}

.nav>li:hover{
    background-color: #e43030;
    color: #fff;
}

.dropdown>li{
    background-color: #082c50;
    color: #fff;
}
.dropdown>li>a{
    font-family: 'Lato', sans-serif;
    font-size: 1.25em;
}

.dropdown-menu{
    padding: 0;
}

.dropdown-menu>li>a:hover {
    color: #ccc;
    background: #193d61;
}

.dropdown-menu>li>a {
    padding: 10px 20px;
    color: #fff;
}

.dropdown-menu>li>a:hover {
    color: #ccc;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .dropdown.open > a
{
    background: #e43030;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover
{
    color: #ccc;
}

.navbar-default .navbar-toggle{
    background-color: #082c50;
    border: 0;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: #fff;
}

.homepage{
    margin-left: auto;
    margin-right: auto;

}

.post{
    font-family: 'Lato', sans-serif;
    font-size: 1.25em;
    margin-bottom: 50px;
    color: black;
}

.post a{
    text-decoration: none;
    color: black;
}

.post h1{
    font-weight: 700;
}

.date {
    font-size: 0.75em;
}

.postcontent{
    font-size: 1em;
    text-align: justify;
}

.comment{
    font-weight: 700;
}

.btn-comment{
    position: absolute;
    right: 0;
}

.page-header{
    font-family: 'Lato', sans-serif;
    text-align: center;
    border-bottom:none;
}

.page-header a{
    text-decoration: none;
    color: black;
}

.rightbar{
    margin-left: 75px;
    margin-right: -75px;
    background-color: #082c50;
    height: 100%;
    font-family: 'Lato', sans-serif;
    color: white;
}
